body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-grey-dark;
}

.profile {
    text-align: center;
    &_img {
        width: 50%;
        border-radius: 50%;
    }
}

.container {
    width: 100%;
    background-color: #ddd;
  }
  
  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  
  .html {width: 80%; background-color: #ff7730;    padding-right: 8px;}
  .css {width: 80%; background-color: rgba(40, 180, 133, 0.8);    padding-right: 8px;}
  .js {width: 90%; background-color: #55c57a;    padding-right: 8px;}
  .ts {width: 80%; background-color: rgba(126, 213, 111, 0.85);    padding-right: 8px;}
  .react {width: 90%; background-color: #b42828c2;    padding-right: 8px;}
  .angular {width: 70%; background-color: #774429;    padding-right: 8px;}
  .node {width: 60%; background-color: #009688;    padding-right: 8px;}
  .mongo {width: 60%; background-color: #8bc34a;    padding-right: 8px;}
  .aws {width: 60%; background-color: #607d8b;    padding-right: 8px;}

.heading-primary {
    color: $color-white;
    // text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--user_name {
        color: #e31b6d;
    }

    &--main {
        display: block;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 0.5rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        
        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 5rem;
        }
        /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: .75rem;
        animation: moveInRight 1s ease-out;

        @include respond(phone) {
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}