@keyframes slideOut {
    0% {
        opacity: 0;
        transform: translateX(-100rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.contact {
    margin: 0px auto;
    width: 100%;
    // height: 60vh;
    position: relative;
    background-color: black;


    &_video {
        width: 100%;
        height: 80vh;
    }

    &_form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;
        display: flex;
        flex-direction: column;
        animation: slideOut 1s ;
    }

    &_input {
        width: 50%;
        height: 4rem;
        border: none;
        border-radius: 1rem;
        outline: none;
        padding: 1.6rem;
    }

    &_action {
        align-self: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 35rem;
    }

    
    // height: 60vh;
    // background-image: url(https://freefrontend.com/assets/img/css-background-patterns/css-lattice-pattern.png);
    // background-repeat: no-repeat;
    // background-size: cover;
}