// .stack {
//     display: flex;
//     width: 80%;
//     justify-content: center;
//     margin: 0px auto;
// }

.stack {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-around;
    width: 80%;
    margin: 0px auto;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243,50%), 0 0 0 1px #e6ecf8;
    border-radius: 8px;

    &_item:not(:last-child) {
        border-right: 1px solid #ebe8e8;

    }

    &_item {
        padding: 3rem;
        
    }

    &_heading {
        font-size: 4rem;
        text-align: center;
    }

    &_desc {
        color: #141c3a;
    }

    &_list_heading {
        color: $color-blue;
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    &_list {
        list-style: none;
        font-size: 1.6rem;
    }
}