html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
    font-family: 'KoHo', 'Sacramento',cursive !important; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconmoon';
  src: local('iconmoon'), url(./assets/fonts/icomoon.woff) format('woff');
}

@font-face {
  font-family: 'socialMedia';
  src: local('socialMedia'), url(./assets/fonts/social_media.woff) format('woff') ;
}

@font-face {
  font-family: 'contact';
  src: local('contact'), url(./assets/fonts/contact.woff) format('woff') ;
}

@font-face {
  font-family: 'experience';
  src: local('experience'), url(./assets/fonts/experience.woff) format('woff') ;
}

i {
  font-style: normal;
}

.icon_tech::before {
  font-family: 'experience';
  content: "\ea80";
  font-size: 4rem;
  color: #4b6cc1;
}

.icon_tools::before {
  font-family: 'experience';
  content: "\e991";
  font-size: 4rem;
  color: #4b6cc1;
}

.icon_exper::before {
  font-family: 'experience';
  content: "\e953";
  font-size: 4rem;
  color: #4b6cc1;
}

.userIcon::before {
  font-family: "contact";
  content: "\e901";
  font-size: 12rem;
  color: #4b6cc1;
}

.emailIcon::before {
  font-family: "contact";
  content: "\e900";
  font-size: 12rem;
  color: #4b6cc1;
}

.messageIcon::before {
  font-family: "contact";
  content: "\e902";
  font-size: 12rem;
  color: #4b6cc1;
}

.fa-email::before {
  font-family: 'socialMedia';
  content: '\e900';
}

.fa-linkedin::before {
  font-family: 'socialMedia';
  content: '\eaca';
}

.fa-facebook::before {
  font-family: 'socialMedia';
  content: '\ea90';
}

.fa-medium::before {
  font-family: 'socialMedia';
  content: '\e901';
}

.fa-fast::before {
  font-family: 'iconmoon';
  content: '\e900';
  color: #FFF;
  font-size: 5rem;
}

.fa-responsive::before {
  font-family: 'iconmoon';
  content: '\e902';
  color: #FFF;
  font-size: 5rem;
}

.fa-intutive::before {
  font-family: 'iconmoon';
  content: '\e901';
  color: #FFF;
  font-size: 5rem;
}

.fa-dynamic::before {
  font-family: 'iconmoon';
  content: '\e9a5';
  color: #FFF;
  font-size: 5rem;
}


.btn-text:link, .btn-text:visited {
  font-size: 2.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all .2s;
  transition: all .2s;
  /* margin-right: 3rem; */
  cursor: pointer;
}